/* code font */
/* font-family: 'Roboto Mono', monospace; */

/* sans serif font */
/* font-family: 'Inter', sans-serif; */

/* Background color: #f8edeb */
/* Card color: #ffd7ba */

body {
  font-family: "Inter", sans-serif;
  background-color: #f8edeb;
  font-weight: bold;
}

h1,
h3 {
  text-align: center;
}

p input {
  width: 1vw;
  font-family: "Roboto Mono", monospace;
  border: none;
  font-weight: bold;
}

#q {
  width: 85%;
  padding: 1%;
  background-color: #ffd7ba;
  margin-bottom: 1%;
  border-radius: 20px;
}



.snippet {
  text-align: left;
  margin-left: 15vw;
}

#challenges {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.if,
.equal,
.greatOrE,
.lessOrE,
.and,
.or,
.in,
.arrow {
  width: 20px;
}

.else,
.notEqual,
.iplusplus {
  width: 35px;
}

.openparen,
.zero,
.closeparen,
.questionmark {
  width: 12px;
}

.opencurly,
.closecurly {
  width: 12px;
}

.semicolon,
.colon {
  width: 12px;
}

.break {
  width: 40px;
}

.strictE,
.for,
.add {
  width: 25px;
}

.default,
.length,
.function {
  width: 60px;
}

.function {
  width: 70px;
}
